SECRET_KEY=dev

OTS_USERNAME=administrator
OTS_PASSWORD=password
OTS_URL=https://host.docker.internal
OTS_VERIFY_SSL=False
DEBUG=False

MAIL_ENABLED=True
MAIL_SERVER="email.test.tld"
MAIL_PORT=465
MAIL_USERNAME="USERNAME"
MAIL_PASSWORD="PASSWORD"
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_DEFAULT_SENDER="no-reply@test.local"
HELP_LINK="https://google.com"
JWT_SECRET_KEY="dev"