SECRET_KEY=dev

OTS_USERNAME=administrator
OTS_PASSWORD=123456
OTS_URL=https://tak.local

DEBUG=False

MAIL_ENABLED=True
MAIL_SERVER="email.test.tld"
MAIL_PORT=465
MAIL_USERNAME="USERNAME"
MAIL_PASSWORD="PASSWORD"
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_DEFAULT_SENDER="no-reply@test.local"
HELP_LINK="https://google.com"
JWT_SECRET_KEY="dev"


BRAND_NAME="My Onboarding Portal"
LOGO_PATH="/static/img/logo.png"
HELP_EMAIL="help@example.nl"

GENERATE_ITAK_QR_CODE=True
FORGOT_PASSWORD_ENABLED=True
ZEROTIER_ICON=False