{% extends "base.html" %}
{% block title %}Admin Overview{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        
        <style>
            .metro-tile {
                background-color: #f8f9fa;
                border-radius: 5px;
                padding: 20px;
                text-align: center;
                margin-bottom: 20px;
                cursor: pointer; /* Add cursor pointer */
            }

            .metro-tile:hover {
                background-color: #dcdcdc; /* Change background color on hover */
            }

            .metro-tile i {
                font-size: 40px;
                color: #343a40;
            }

            .metro-tile p {
                margin-top: 10px;
                font-size: 16px;
                color: #343a40;
            }


            .metro-tile a:hover {
                color: inherit; /* Inherit color from parent on hover */
            }
        </style>

        <div class="mt-5 container">
            <div class="row">

            <div class="col-md-2" onclick="window.location.href='/admin/onboarding_codes'">
                <div class="metro-tile">
                    <i class="fa fa-envelope"></i>
                    <p>Onboarding Links</p>
                </div>
            </div>
            <div class="col-md-2" onclick="window.location.href='/admin/users'">
                <div class="metro-tile">
                    <i class="fa fa-users"></i>
                    <p>Users</p>
                </div>
            </div>
            <div class="col-md-2" onclick="window.location.href='/admin/roles'">
                <div class="metro-tile">
                    <i class="fa fa-shield"></i>
                    <p>Roles</p>
                </div>
            </div>
            <div class="col-md-2" onclick="window.location.href='/admin/takprofiles'">
                <div class="metro-tile">
                    <i class="fa fa-file"></i>
                    <p>Data Packages</p>
                </div>
            </div>
            <div class="col-md-2" onclick="window.location.href='/admin/meshtastic'">
                <div class="metro-tile">
                    <img src="/static/img/meshtastic.png" style="width: 40px; height: 40px;">
                    <p>Meshtastic Config</p>
                </div>
            </div>
            {% if ENABLE_REPO %}
            <div class="col-md-2" onclick="window.location.href='/admin/packages'">
                <div class="metro-tile">
                    <i class="fa fa-file"></i>
                    <p>Update Packages</p>
                </div>
            </div>
            {% endif %}
    </section>

{% endblock %}
