{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        
        <style>
            .metro-tile {
                background-color: #f8f9fa;
                border-radius: 5px;
                padding: 20px;
                text-align: center;
                margin-bottom: 20px;
            }

            .metro-tile i {
                font-size: 40px;
                color: #343a40;
            }

            .metro-tile p {
                margin-top: 10px;
                font-size: 16px;
                color: #343a40;
            }
        </style>

        <div class="mt-5 container">
            <div class="row">

            <div class="col-md-2">
                <a href="/admin/onboarding_codes">
                <div class="metro-tile">
                    <i class="fa fa-envelope"></i>
                    <p>Onboarding Links</p>
                </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/admin/users">
                <div class="metro-tile">
                    <i class="fa fa-users"></i>
                    <p>Users</p>
                </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/admin/roles">
                <div class="metro-tile">
                    <i class="fa fa-shield"></i>
                    <p>Roles</p>
                </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/admin/takprofiles">
                <div class="metro-tile">
                    <i class="fa fa-file"></i>
                    <p>Data Packages</p>
                </div>
                </a>
            </div>
 
            </div>
        </div>



    </section>

{% endblock %}
