{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        <div class="container">
            <h1 style="margin-top: 20px;"><strong>Onboarding Links</strong></h1>
            <h4>KGG Dutchies ATAK Portal</h4>
        </div>
            
        <div class="mt-3 container">
            <div class="row">
                <div class="mt-2 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Onboarding Codes</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>UUID</th>
                                        <th>Onboarding Contact</th>
                                        <th>Remaining Uses</th>
                                        <th>Total Uses</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for onboardingcode in onboardingcodes %}
                                    <tr>
                                        <td>{{ onboardingcode.name }}</td>
                                        <td>{{ onboardingcode.description }}</td>
                                        <td>{{ onboardingcode.onboardingCode }}</td>
                                        <td>
                                            {% if onboardingcode.onboardContact %}
                                            {{resolveUserPropertyByID(onboardingcode.onboardContact)}}
                                            {% else %}
                                            No Contact
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if onboardingcode.maxUses %}
                                            {{ onboardingcode.maxUses - onboardingcode.uses }}
                                            {% else %}
                                            Unlimited
                                            {% endif %}
                                        </td>
                                        <td>{{ onboardingcode.uses }}</td>
                                        <td> 
                                            <button class="btn btn-sm btn-primary">EDIT</button>
                                            <button class="btn btn-sm btn-danger">DELETE</button>
                                        </td>
                                      
                                    </tr>  
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button class="btn btn-sm btn-primary">CREATE NEW LINK</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    


    </section>

{% endblock %}
