{% extends "base.html" %}
{% block title %}Radios{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        <div class="container">
            <h1 style="margin-top: 20px;"><strong>Radios</strong></h1>
            <h4>{{config['BRAND_NAME']}}</h4>
        </div>
            
        <div class="mt-3 container">
            <div class="row">
                <div class="mt-2 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Radios</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created At</th>
                                        <th>Updated At</th>
                                        <th>MAC</th>
                                        <th>PublicKey</th>
                                        <th>PrivateKey</th>
                                        <th>Assigned To</th>
                                        <th>Owner</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for radio in radios %}
                                    <tr>
                                        <td>{{ radio.name }}</td>
                                        <td>{{ radio.createdAt }}</td>
                                        <td>{{ radio.updatedAt }}</td>
                                        <td>{{ radio.mac }}</td>
                                        <td>{{ radio.publicKey }}</td>
                                        <td>{{ radio.privateKey }}</td>
                                        <td>{{resolveUserPropertyByID(radio.assignedTo)}}</td>
                                        <td>{{resolveUserPropertyByID(radio.owner)}}</td>
                                        <td> 
                                            <a href="radios/edit/{{radio.id}}" class="btn btn-sm btn-custom-primary" style="font-size: 1rem; width: 150px;">EDIT</a>
                                            <a href="radios/delete/{{radio.id}}" class="btn btn-sm btn-danger" style="font-size: 1rem; width: 150px;">DELETE</a>
                                            <a href="radios/clear-assigned/{{radio.id}}" class="btn btn-sm btn-primary" style="font-size: 1rem; width: 150px;">CLEAR ASSIGNE</a>
                                        </td>
                                      
                                    </tr>  
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="radios/add" class="btn btn-sm btn-custom-primary">CREATE NEW RADIO</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    


    </section>

{% endblock %}
