<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Index{% endblock %}</title>
    <link rel="icon" href="/static/favicons/favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;display=swap">
    <script src="https://kit.fontawesome.com/0a0e54ec18.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/Elegant-Registration-Form.css">
    <link rel="stylesheet" href="/static/css/Features-Boxed.css">
    <link rel="stylesheet" href="/static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/static/mdbootstrap/css/mdb.min.css">
    <!-- Your stuff: Third-party CSS libraries go here -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/r-2.3.0/sp-2.0.2/sl-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/r-2.3.0/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>
    <!-- DataTables CSS -->
    <!-- <link href="/static/mdbootstrap/css/addons/datatables2.min.css" rel="stylesheet">-->
    <!-- DataTables Select CSS -->
    <!-- <link href="/static/mdbootstrap/css/addons/datatables-select2.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    {% block head %}{% endblock %}

</head>

<body style="background-color :#e9ecef;">
    
  <div class="mb-1" style="margin-bottom: 0px !important;">
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon"></i>
      </button>
      <a style="margin-left: 20px;" class="navbar-brand" href="/"><img id="logo" class="branding_logo" height="50px" alt="Home"></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">        
        </ul>
          <ul class="navbar-nav">
          {% if doesCurrentUserHaveRole("administrator") %}
          <li class="nav-item">
            <a style="color: black !important;"  class="nav-link" style="font-size:17px !important;" href="/admin">ADMIN</a>
          </li>
          {% endif %}

          {% if session.username %}
          <li class="nav-item">
            <a style="color: black !important;"  class="nav-link" style="font-size:17px !important;" href="/logout">LOGOUT</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </div>
  <div class="container-flex">
    <ul class="uptic-breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>     

      </li>
      <li>
      {% if not loop.last %}
      <span class="divider">/</span>
      {% endif %}
    {% endfor %}       
      </li>

</ul>
  </div>

  {% if error %}
  <div class="container">
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
  </div>
  {% endif %}


  {% block content %}{% endblock %}

  <div>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

      <!-- Bootstrap JS and its dependencies-->
      {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <link rel="stylesheet" href="/static/css/branding.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
      <script type="text/javascript">
      </script>
      <link rel="stylesheet" href="/static/css/jquery.dropdown.css">
      <script src="/static/js/jquery.dropdown.js"></script>

      <script type="text/javascript" src="/static/mdbootstrap/js/mdb.min.js"></script>
      <link rel="stylesheet" href="/static/css/jquery.dropdown.css">
      <script src="/static/js/jquery.dropdown.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
      {% endblock %}
</body>

</html>