{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        <div class="container">
            <h1 style="margin-top: 20px;"><strong>Welcome {{user.username}}</strong></h1>
            <h4>ATAK Portal</h4>
        </div>
            
        <div class="mt-5 container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Download ATAK DataPackage</h5>
                        </div>
                        <div class="card-body">

                            {% for takprofile in tak_profiles %}
                                <h5>{{takprofile.name}}</h5>
                                <p>{{takprofile.description}}</p>
                                <a href="{{url_for('routes.downloadTakPackage', id=takprofile.id)}}" class="btn btn-custom-primary">Download</a>
                                <a href="{{help_link}}" class="btn btn-warning">
                                    <i class="fa fa-question-circle"></i> HELP / HOW TO INSTALL
                                </a>
                                <hr>
                            {% endfor %}

                        </div>
                    
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            {% if user.firstName %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{user.firstName}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.lastName %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{user.lastName}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.callsign %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Callsign</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{user.callsign}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.email %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{user.email}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.roles %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Roles</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <ul>
                                    {%for role in user.roles%}
                                    <li>{{role.name}}</li>
                                    {%endfor%}
                                    </ul>
                            </div>
                            <hr>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="{{ url_for('routes.user_profile_edit') }}" class="btn btn-custom-primary">Edit Profile</a>
                                    <a href="{{ url_for('routes.change_password') }}" class="btn btn-custom-primary">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
            


    </section>

{% endblock %}
