{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
    <section class="features-boxed primary-color" style="background: #e9ecef;">
        <div class="container">
            <h1 style="margin-top: 20px;"><strong>Welcome {{user.username}}</strong></h1>
            <h4>{{BRAND_NAME}}</h4>
        </div>
            
        <div class="mt-5 container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title">Welcome</h5>
                        </div>
                        <div class="card-body">
                            This portal is designed to help you get your ATAK client setup and ready to use, if you do not have ATAK you can download it using the icons on the right, once you have ATAK you can download and import the profiles below.
                        </div>
                    </div>
                </div>

                <h1>Step 1 - Get your TAK profiles</h1>
                {% if tak_profiles %}        
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title">Download ATAK DataPackage</h5>
                        </div>
                        <div class="card-body">
                            
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%;">Name</th>
                                            <th style="width: 60%;">Description</th>
                                            <th style="width: 20%;">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for takprofile in tak_profiles %}
                                        <tr>
                                            <td style="width: 20%;">{{takprofile.name}}</td>
                                            <td style="width: 60%;">{{takprofile.description}}</td>
                                            <td style="width: 20%;">
                                                <a href="{{url_for('routes.downloadTakPackage', id=takprofile.id)}}" class="btn btn-custom-primary">Download</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            <a href="{{help_link}}" class="btn btn-warning">
                                <i class="fa fa-question-circle"></i> HELP / HOW TO INSTALL
                            </a>

                        </div>
                    </div>
                    {% endif %}




                    {% if meshtastic_configs %}
                    <h1 class="mb-4">Step 2 - Scan this QR Code in The Meshtastic App</h1>
                    <div class="row">

                        {% for config in meshtastic_configs %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="card-title">{{config.name}}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img style="width: 100%;" src="{{ qrcode(config.url, error_correction='H', icon_img='img/meshtastic.png') }}">
                                        <hr>
                                        <p>{{config.description}}</p>
                                        <hr>
                                        <p> Cant Scan? <a href="{{config.url}}">Copy/Click Link</a></p>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>

            
            
                <div class="col-md-4">

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 text-center mb-3">
                                        <img style="width: 100px; height: 100px;" src="/static/img/meshtastic.png">
                                        <h6 class="mb-0">Get Meshtastic</h6>
                                        <a href="https://apps.apple.com/in/app/meshtastic/id1586432531">iPhone</a>/<a href="https://play.google.com/store/apps/details?id=com.geeksville.mesh&hl=en">Andriod</a>               
                                </div>
                                <div class="col-sm-4 text-center mb-3">
                                        <img style="width: 100px; height: 100px;" src="/static/img/atak.png">
                                        <h6 class="mb-0">Get ATAK</h6>
                                        <a href="https://play.google.com/store/apps/details?id=com.atakmap.app.civ&hl=en">Andriod</a>
                                </div>
                                <div class="col-sm-4 text-center mb-3">
                                    <img style="width: 100px; height: 100px;" src="/static/img/itak.jpg">
                                    <h6 class="mb-0">Get ITAK</h6>
                                    <a href="https://apps.apple.com/app/itak/id1561656396">iPhone</a>
                                </div>
                                <div class="col-sm-4 text-center mb-3">
                                    <img style="width: 100px; height: 100px;" src="/static/img/certificate.png">
                                    <h6 class="mb-0">TrustStore</h6>
                                    <a href="{{OTS_URL}}/api/truststore">Downlaod</a>
                                </div>

                                {% if GENERATE_ITAK_QR_CODE %}
                                <div class="col-sm-4 text-center mb-3">
                                    <img style="width: 100%;" src="{{ qrcode(BRAND_NAME ~ ',' ~ OTS_HOSTNAME ~ ',8089,SSL', error_correction='H', icon_img='img/atak.png') }}">
                                    Scan this QR code in ITAK
                                </div>  
                                {% endif %}
                            </div>


                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            {% if user.firstName %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">{{user.firstName}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.lastName %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">{{user.lastName}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.callsign %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Callsign</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">{{user.callsign}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.email %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">{{user.email}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.expiryDate %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Expiry Date</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">{{user.expiryDate}}</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if user.roles %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Roles</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {%for role in user.roles%}
                  
                                        <span class="badge badge-pill badge-dark"> {{role.name}}</span>
                     
                            
                                    {%endfor%}
                            </div>
                            <hr class="mt-4">
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="{{ url_for('routes.user_profile_edit') }}" class="btn btn-custom-primary">Edit Profile</a>
                                    <a href="{{ url_for('routes.change_password') }}" class="btn btn-custom-primary">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
            


    </section>

{% endblock %}
