{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="card" style="width:300px;">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" required><br><br>
                
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required><br><br>
                
                <input class="btn" type="submit" value="Login">
                
                <div id="error-message"></div> <!-- Element to display error message -->
            </form>
        </div>
    </div>
</div>



{% endblock %}
