{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}


{% block content %}


{% for field, errors in form.errors.items() %}
<div class="container">
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
</div>
{% endfor %}

{% if message %}
<div class="container">
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                 <h2 class="mt-5 text-center">Password Reset</h2>
                    <div class="card-body">
                        <form action="{{ url_for('routes.reset_password') }}" method="post" novalidate>
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}
                            <div class="form-group row required">

                                    {% for field in form %}
                                        {% if field.type == "SubmitField" %}
                                        <div class="mb-0 mt-2 offset-lg-3 col-lg-9">
                                            {{field(style="width:100px", class_="btn-wtf btn-light-green")}}
                                        </div>
                                        {% elif field.type == "CSRFTokenField" %}  
                                        {{field}}
                                        {% else %}
                                    <label class="mb-4 brand-secondary-color form-control-label  col-lg-3">{{ field.label }}</label>       
                                    <div class="col-lg-9 mb-2">     
                                        {{field(class_="form-control")}}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
    
                </div>
            </div>
        </div>
    </div> 
</div>  

{% endblock %}
